.heading {
  color: transparent; 
  margin-top: 40px; 
  padding-right: 400px;
  text-align: center;
  font-size: 4em; 
  font-family: 'Arial', sans-serif; 
  letter-spacing: 2px; 
}
#searchButton{
  width: 100px;
 
}
.loading {
  font-size: 1.5em;
  color: #007bff;
  text-align: center;
  margin-top: 20px;
}

#output {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap; 
  color: #333;
}

.boxbut{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       justify-content: space-between;
}

.heading::after {
  content: 'DostGpt';
  color: #fa00e9;
  position: absolute; 
  top: 4px; 
  padding-left: 65px;
  padding-top: 80px;
  margin-bottom: 100px;
  text-shadow: 1px 1px 1px #000, 2px 2px 1px #000, 3px 3px 1px #000, 4px 4px 1px #000, 5px 5px 1px #000; 
  opacity: 1;
}

img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 8px;
  margin: 10px 0;
  margin-top: 100px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

#searchInput{
  width: 80%;
  padding: 8px;
  margin: 10px 0;
  margin-top: 100px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

button {
  background-color: #ff10efa4;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 5px;
}

button:hover {
  background-color: #df9eda;
}


#output {
  margin-top: 50px;
  padding: 20px;
  background-color: #8a2be2;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.responseText {
  font-size: 1.2em;
}
.bold-black {
  color: black; 
  font-weight: bold;
}

.large-text {
  color: black;
  font-weight: bold;
  font-size: 1em;
}
