:root {
  font-family: Arial, sans-serif;
    background-image: url("dost_gpt2.png");
    padding: 20px;
    background-repeat: no-repeat;
    width: 359px; 
    height: 340px;
    margin: 0 auto; 

}

